# Database Connection
DATABASE_URL=

# Global
PORT=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# SQL Database Configutation
SQL_USER=
SQL_PASSWORD=
SQL_HOST=
SQL_DATABASE=
SQL_PORT=

# Files Path
FILES_PATH=

# HTTP Configuration
HTTP_TIMEOUT=
HTTP_MAX_REDIRECTS=

# Backend Gestionate Connection
BACK_GESTIONATE_URL=
API_KEY=
API_KEY_VERIFY=

# Backend SCI Connection
BACK_SCI_URL=
SCI_USERNAME=
SCI_PASSWORD=

# Files Path Destination
EXTERNAL_FILES_PATH=
